* {
    font-family: 'TT Norms Regular';
    outline: none !important;
}

::-webkit-input-placeholder {
    font-size: 14px;
}

::-moz-placeholder {
    font-size: 14px;
}

:-moz-placeholder {
    font-size: 14px;
}

:-ms-input-placeholder {
    font-size: 14px;
}

::-webkit-scrollbar { width: 0px; height: 0px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #999;}}
::-webkit-resizer { background-color: #666;}

body {
    background-color: #F9FAFF;
    overflow: hidden;
}

.links {
    font-family: 'TT Norms Medium';
    color: rgba(0, 0, 0, .56);
    font-size: 13px;
    transition: 0.2s;
}

.links:hover {
    color: rgba(0, 0, 0, .8);
    text-decoration: none;
}

.button-primary {
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FA875B;
    border: none;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    color: #ffffff;
    font-family: 'TT Norms Medium';
    padding: 12px 18px;
    font-size: 12px;
    border-radius: 2px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.button-primary:hover {
    text-decoration: none;
    background-color: #EC7E55;
    color: #ffffff;
}

.button-line {
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 1px solid #FA875B;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    color: #FA875B ;
    font-family: 'TT Norms Medium';
    padding: 12px 18px;
    font-size: 12px;
    border-radius: 2px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.button-line:hover {
    text-decoration: none;
    background-color: rgba(250, 239, 238, .4);
}

.main {
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: calc(100vw - 140px);
    height: calc(100vh - 140px);
    margin: 70px;
}

.main-blocks-angle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    width: 170px;
    height: 170px;
    left: 0;
    top: 0;
    background-color: #F9FAFF;
}

.main-blocks-angle svg {
    color: rgba(0, 0, 0, 0.25);
    width: 28px;
    height: 28px;
}

.main-blocks-angle-2 {
    right: 0;
    left: auto;
    cursor: pointer;
    z-index: 10;
}

.main-blocks-angle-3 {
    bottom: 0;
    top: auto;
}

.main-blocks-angle-4 {
    bottom: 0;
    top: auto;
    left: auto;
    right: 0;
}

.main-blocks-angle-5 {
    top: auto;
    left: 50%;
    bottom: 0;
    margin-left: -158px;
    width: 320px;
}

.main-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
    font-size: 28px;
    z-index: 9;
    text-align: center;
    font-family: 'TT Norms Bold';
    text-transform: uppercase;
    background-color: #F9FAFF;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: -22px auto 0;
    padding: 0 100px;
}

.main-logo::after {
    content: '';
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #FAEEEF;
    z-index: -1;
}

.main-button {
    display: block;
    margin: 0 auto;
    position: fixed;
    width: 160px;
    background-color: #FA875B;
    border: 2px solid #F9FAFF;
    font-size: 15px;
    padding: 18px 13px;
    border-radius: 4px;
    bottom: 45px;
    left: calc(50% - 80px);
    -webkit-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    transform: skewX(-10deg);
}

.main-button span {
    font-family: 'TT Norms Medium';
    color: #ffffff;
    -webkit-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    transform: skewX(10deg);
    display: block;
    text-transform: uppercase;
    font-size: 12px;
}

.main-button::before {
    position: absolute;
    content: '';
    left: -8px;
    top: -7px;
    width: 172px;
    z-index: -1;
    border: 2px solid rgba(250, 135, 91, 0.2);
    height: 68px;
    border-radius: 5px;
}

.main-button::after {
    position: absolute;
    content: '';
    background-color: #F9FAFF;
    top: 0;
    left: 0;
    z-index: -1;
}

.main-menu {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    position: fixed;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    top: 100px;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #F9FAFF;
    padding: 50px 100px;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);
    overflow-x: auto;

}

.main-menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-links {
    min-width: 18%;
}

.main-links:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, .1);
    min-width: 25%;
    padding: 20px;
}


.main-nav-headline {
    font-family: 'TT Norms Bold';
}

.main-links-list {
    margin: 0;
    padding: 0;
}

.main-links-list li {
    list-style-type: none;
}

.main-links-list li a {
    display: block;
    font-family: 'TT Norms Medium';
    font-size: 14px;
    color: rgba(0, 0, 0, .56);
    margin-bottom: 8px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.main-links-list li a:hover {
    text-decoration: none;
    color: #FA875B;
}

.main-links-name {
    font-family: 'TT Norms Bold';
    margin-bottom: 10px;
}

.main-links-name::after {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: #FA875B;
    margin-top: 3px;
}

.main-nav-description {
    font-family: 'TT Norms Medium';
    color: rgba(0, 0, 0, .56);
    font-size: 14px;
    line-height: 26px;
}

.modal-title {
    font-family: 'TT Norms Medium';
    font-size: 16px;
}

.modal-header {
    border: none;
}

.modal-content {
    border: none;
    border-radius: 2px;
}

.form-control {
    background: #F5F5F5;
    border: none;
    border-left: 2px solid rgb(0, 0, 0, 0.1);
    border-radius: 0px;
    height: 45px;
    font-size: 14px;
}

.form-control:focus {
    background: #F5F5F5;
    border-color: #FA875B;
    box-shadow: none;
}

.registration-image {
    background-image: url(../images/regsitaration.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 410px;
    overflow: hidden;
    margin-top: -70px;
    margin-left: -14px;
}

.login-image {
    background-image: url(../images/loginModal.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 270px;
    overflow: hidden;
    margin-top: -40px;
}

.modal-lg,
.modal-xl {
    max-width: 730px;
}

.main-content {
    margin: 60px 80px 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}

.welcome-text {
    position: relative;
}

.welcome-text::after {
    content: '';
    position: absolute;
    width: 145px;
    height: 145px;
    left: -50px;
    top: -30px;
    background: rgba(250, 135, 91, 0.1);
}

.welcome-text h1 {
    font-family: 'TT Norms Bold';
    text-transform: uppercase;
    line-height: 60px;
}

.welcome-text p {
    font-family: 'TT Norms Medium';
    display: flex;
    align-items: center;
    color: #92887E;
    font-size: 14px;
    margin: 20px 0;
}

.welcome-text p span {
    font-family: 'TT Norms Bold';
    color: #FA875B;
}

.welcome-text p::before {
    content: '';
    background-color: #92887E;
    width: 40px;
    height: 1px;
    margin-right: 20px;
}

.welcome-butons {
    display: flex;
    flex-flow: wrap;
}

.welcome-servers-list {
    width: 100%;
}

.welcome-servers-item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 250px;
    min-height: 500px !important;
    transform: skewX(-10deg);
    border-radius: 3px;
    display: flex !important;
    align-items: flex-end;
    padding-bottom: 30px;
    margin-right: 40px;
}

.welcome-servers-name {
    background: linear-gradient(270deg, #61D58E 5%, #31A57E 96.95%);
    border-radius: 3px;
    padding: 13px 20px;
    color: #ffffff;
    width: 70%;
}

.welcome-servers-name h3 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'TT Norms Bold';
    text-transform: uppercase;
}

.welcome-servers-name p {
    text-transform: uppercase;
    font-size: 12px;
    padding: 0;
    margin: 0;
    color: rgba(255, 255, 255, 0.56);
    font-family: 'TT Norms Medium';
}

.mini-profile {
    position: fixed;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid rgba(0, 0, 0, 0.1);
    min-width: 400px;
    margin-left: -290px;
    min-height: 80px;
    background-color: #f9faff;
    margin-top: -40px;
    padding: 0px 20px;
    z-index: 20;
}

.mini-profile-user {
    display: flex;
    align-items: center;
}

.mini-profile::after {
    content: '';
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    right: -14px;
    height: 80px;
    width: 25px;
    position: absolute;
    background: #f9faff;
    transform: skewX(-11deg);
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 0px 5px 5px 0px;
}

.mini-profile::before {
    content: '';
    border-left: 2px solid rgba(0, 0, 0, 0.1);
    left: -14px;
    height: 80px;
    width: 25px;
    position: absolute;
    background: #f9faff;
    transform: skewX(11deg);
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px 0px 0px 5px;
}

.mini-profile-user img {
    max-width: 40px;
    border-radius: 2px;
}

.mini-profile-realbalance span,
.mini-profile-gamebalance span {
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transform: skewX(-5deg);
    font-size: 12px;
    padding: 0px 8px;
    margin: 0 10px;
    border-radius: 3px;
    font-family: 'TT Norms Medium';
}

.mini-profile-gamebalance {
    display: flex;
    flex-flow: row-reverse;
}

.mini-profile-realbalance span {
    transform: skewX(5deg);
}


.mini-profile-user__name {
    font-family: 'TT Norms Bold';
    text-transform: uppercase;
    margin: 0 20px;
}

.mini-profile-user__privilage {
    font-family: 'TT Norms Bold';
    text-transform: uppercase;
    margin: 0 20px;
    color: rgba(0, 0, 0, .56);
}

.mini-content {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 20px;
    border-radius: 3px;
    margin-top: 25px;
}

.table-site {
    overflow-x: auto;
}

.mini-content-name {
    font-family: 'TT Norms Medium';
    position: absolute;
    top: -11px;
    left: 10px;
    font-size: 13px;
    background: #f9faff;
    padding: 0px 10px;
    color: rgba(0, 0, 0, .56);
}

.table-cabinet th {
    padding: 3px 0px;
    font-size: 14px;
    text-align: right;
    font-family: 'TT Norms Medium';
    font-weight: normal;    
}

.table-cabinet td {
    padding: 3px 0px;
    font-size: 14px;
    text-align: left;
    color: rgba(0, 0, 0, .56);
}

.skin-viewer {
    padding: 20px 0;
    text-align: center;
}

.form-group label {
    font-size: 13px;
    margin: 0;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, .56);
    font-family: 'TT Norms Medium';
}

.page-links {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    margin: 0;
    padding: 0;
}

.page-links li {
    list-style-type: none;
    width: 45%;
    font-size: 14px;
}

.page-links li a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'TT Norms Medium';
    border: 1px solid rgba(0, 0, 0, .1);
    color: rgba(0, 0, 0, .56);
    width: 100%;
    padding: 15px 10px;
    margin-bottom: 10px;
    transition: 0.2s;
    border-radius: 2px;
}

.page-links li a:hover {
    text-decoration: none;
    background: #FA875B;
    color: #fff;
    border-color: #FA875B;
}

.mon-links {
    justify-content: space-around;
}

.mon-links li {
    width: 32%;
}

.mon-links li:nth-child(4) {
    width: 48%;
}

.mon-links li:nth-child(5) {
    width: 48%;
}

.banlist-search {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.banlist-search input {
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 40px;
    border-radius: 3px;
    margin-right: 1%;
    width: 100%;
    padding-left: 10px;
}

.table-site tbody tr {
    background-color: #fff;
    border-bottom: 15px solid #f9faff;
}

.page-title {
    font-family: 'TT Norms bold';
}

.page-desc {
    color: rgba(0, 0, 0, .56);
    font-family: 'TT Norms Medium';
    font-size: 14px;
    margin-bottom: 20px;
}

ul.top-list {
    display: flex;
    flex-flow: wrap;
}

ul.top-list li {
    width: 33.33%;
display: flex;
flex-flow: column;
align-items: center;
text-align: center;
background: #fff;
padding: 30px 20px;
}

.top-list-name {
    font-family: 'TT Norms bold';
    color: #FA875B;
    font-size: 24px;
}

.top-list-desc {
color: rgba(0, 0, 0, 0.56);
    font-family: 'TT Norms Medium';
    line-height: 16px;
    font-size: 14px;
    margin: 10px 0 20px;

}